<div class="container m-5 p-5">
  <h2 class="text-white">Contact</h2>
  <div class="col-10">
  <%= simple_form_for @contact, class: "mb-3" do |f| %>
    <%= f.input :name, label: false, placeholder: "Full Name" %>
    <br>
    <%= f.input :email, label: false, placeholder: "E-mail Address" %>
    <br>
    <%= f.input :message, label: false, as: :text,
          placeholder: "Write your request here"%>
    <br>
    <%= f.button :submit, class: 'btn btn-primary w-100' %>
  <% end %>
</div>
</div>
